{% extends "layout/main.html" %}
{% block content %}
<!--======Services Section Area Start ======-->
<!-- Hero Area Start -->
<!-- <section class="hero-area" style="background: url({{baseUrl}}/public/assets/img/company-logo-bg.jpg);background-size: cover;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="hero-info">
          <h2>{{ page_title }}</h2>
          <a href="{{baseUrl}}">Home <i class="fa fa-angle-right"></i></a><span>{{ page_title }}</span>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Hero Area End -->


<!-- Our Contact Area Start -->
<section class="our-contact-area section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="project-title">
          <h2><span>Contact </span>us</h2>
          <p class="deskripsi-contact">
            <strong>{{ config.title }}</strong> {{ config.company_description }}
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center reg-number">
      <div class="col-lg-8 text-center">
        <div class="project-title">
          <h2><span>Registration </span>Number</h2>
        </div>
      </div>

      <table class="table-fill">
        <tbody class="table-hover">
          <tr>
            <td class="text-left">EU</td>
            <td class="text-left">492.13.B</td>
          </tr>
          <tr>
            <td class="text-left">KOREA</td>
            <td class="text-left">15 - 143</td>
          </tr>
          <tr>
            <td class="text-left">CHINA</td>
            <td class="text-left">CR 402 - 16</td>
          </tr>
          <tr>
            <td class="text-left">VIETNAM</td>
            <td class="text-left">VR.B-195-16</td>
          </tr>
          <tr>
            <td class="text-left">CANADA</td>
            <td class="text-left">CND.B-150-16</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="contact-address-bar">
          <i class="fa fa-phone"></i>
          <div class="contact-text">
            <h5>Phone</h5>
            <p>{{ config.no_telpon }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="contact-address-bar">
          <i class="fa fa-fax"></i>
          <div class="contact-text">
            <h5>Fax</h5>
            <p>{{ config.fax }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="contact-address-bar">
          <i class="fa fa-envelope"></i>
          <div class="contact-text">
            <h5>Email</h5>
            <p>{{ config.email }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="contact-address-bar">
          <i class="fa fa-map-marker"></i>
          <div class="contact-text">
            <h5>Our Location</h5>
            <p>{{ config.alamat }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Our Contact-Us Area End -->


<!-- Contact-message Area Start -->
<section class="contact-message section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form">
          <form action="{{baseUrl}}/savedata.html" class="" id="form" method="POST">
            <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">
            <input type="email" id="email" name="email" class="form-control" placeholder="Your E-mail">
            <textarea name="message" id="message" placeholder="Write your message" class="form-control" rows="5"></textarea>
            <div data-callback="enableBtn" class="g-recaptcha" data-sitekey="6LdqIGEUAAAAAA5CTMMN_PNcf2ZbPYjdvpR1YiRd" style="margin-bottom: 10px"></div>
            <div class="popup-pesan hideMe" id="status"></div>
            <button id="submitBtn" class="contact-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="map"></div>
<!-- Contact-message Area End -->

<!--====== Services Section Area End ======-->
<script>
    document.getElementById("submitBtn").disabled = true;
    document.getElementById("submitBtn").style.background = "gray";
    // document.getElementById("captchaAlert").style.display = "block";
    function enableBtn(){
      document.getElementById("submitBtn").disabled = false;
      document.getElementById("submitBtn").style.background = "";
      // document.getElementById("captchaAlert").style.display = "none";
   }
   var urlParams = new URLSearchParams(window.location.search);
   var status = (urlParams.get('status'));
   if (status == 1) {
       feedback = "Pesan Telah Terkirim, Tim kami akan menghubungi anda dalam waktu 1x24 jam.";
   } else if (status == 2) {
       feedback = "Pesan tidak dapat dikirim, terjadi kesalahan pada server";
   } else if (status == 3) {
       feedback = "Harap lengkapi data diri anda";
   }
   document.getElementById("status").innerHTML = feedback;
   // alert(feedback);
</script>
{% endblock %}
