{% extends "layout/main.html" %}
{% block content %}

<!--====== About Section Area Start ======-->
<div class="about-section-area">
  <!-- Hero Area Start -->
  <section class="hero-area banner-mobile-info" style="background: url({{baseUrl}}/public/assets/img/corporate-information-2.jpg);background-size: cover;">
    <div class="container breadcrumb-position-info">
      <div class="row ">
        <div class="col-lg-8 text-left">
          <div class="hero-info">
            <h2>About Us</h2>
            <a href="{{baseUrl}}">Home <i class="fa fa-angle-right"></i></a><span>{{ page_title }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Area End -->

  <!-- About-us Area Start -->
  <section class="about-us-area section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="about-content">
            <h5>{{ page_title }}</h5>
            <h2>History of the Company</h2>
            <p style="text-align: justify;"> <strong>{{ config.title }}</strong> {{ config.company_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About-us Area End -->

  <!-- Timeline Milestone Start-->
  <section class="about-us-area section-padding background-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline">
            <!-- <div class="timeline">
              <span class="timeline-icon"></span>
              <span class="year">2015</span>
              <div class="timeline-content">
                <h3 class="title">Web Desginer</h3>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere. Nullam est.
                </p>
              </div>
            </div> -->
            <!-- <div class="timeline">
              <span class="timeline-icon"></span>
              <span class="year">2016</span>
              <div class="timeline-content">
                <p class="description">
                  <img src="http://placehold.it/1000x500" alt="Graphic">
                </p>
                <h3 class="title">Web Developer</h3>
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis justo id pulvinar suscipit. Pellentesque rutrum vehicula erat sed dictum. Integer quis turpis magna. Suspendisse tincidunt elit at erat tincidunt, vel vulputate arcu dapibus. Etiam accumsan ornare posuere. Nullam est.
                </p>
              </div>
            </div> -->
            {% for values in page_timeline %}
            <div class="timeline">
              <span class="timeline-icon"></span>
              <span class="year">{{ values.tahun }}</span>
              <div class="timeline-content">
                <p class="description">
                  {% if values.thumbnail %}
                  <img style="box-shadow: 0 2px 1px 0 #0000002f" src="{{ values.thumbnail }}" alt="{{ values.title }}">
                  {% endif %}
                </p>
                <h3 class="title" style="min-height:65px">{{ values.title }}</h3>
                <p class="description">
                  {{ values.content | raw }}
                </p>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--====== About Section Area End ======-->

{% endblock %}
