{% extends "layout/main.html" %}
{% block content %}

<!--====== About Section Area Start ======-->
<div class="about-section-area">
  <!-- Hero Area Start -->
  <!-- <section class="hero-area" style="background: url({{baseUrl}}/public/assets/img/company-logo-bg.jpg);background-size: cover;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="hero-info">
            <h2>{{ page_title }}</h2>
            <a href="{{baseUrl}}">Home <i class="fa fa-angle-right"></i></a><span>{{ page_title }}</span>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Hero Area End -->

  <!-- About-us Area Start -->
  <!-- <section class="about-us-area section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="about-content">
            <h5>About Us</h5>
            <h2>ECOSHRIMP</h2>
            <p style="text-align: justify;">
              <strong>PT. Alter Trader Indonesia (ATINA)</strong> is a Processor and Exporter of Frozen Shrimps and Seafood Products. Our Products come directly from the traditional shrimp farmers who have a commitment to have a sustainable and eco friendly aquaculture practices. Our access to quality material, experience our products processing, utilizing of rigid quality control standards can guarantree superior quality of the products. We are trying utmost with heart and soul to supply quality products and excellect service
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- About-us Area End -->

  <!-- Timeline Milestone Start-->
  <section class="about-us-area section-padding background-gray ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 border-ecoshrimp">
          {{ page_ecoshrimp.konten | raw }}
        </div>
      </div>
    </div>
  </section>
</div>
<!--====== About Section Area End ======-->

{% endblock %}
