{% extends "layout/main.html" %}
{% block content %}


        <!--====== Home Top slider Start======-->
        <!-- <span class="" style="position: absolute; width:200px; height:550px; background-color: #ffffffa0; z-index:3">

        </span> -->
        <!-- <section class="owl-carousel owl-theme home-top-slider" href="#myCarousel" style="background-color: #5f5b87"  >
          {% for values in data_banner %}
            <div class="slider-content active" style="background-image: url({{ values.img }})">
                <div class="container">
                    <div class="slider-text-content" >
                        <p class="animated bounceInRight"></p>
                    </div>
                </div>
                <div class="slider-caption">
                  <div>
                    <p class="captio-slider-1">{{ values.caption[0] }}</p>
                    <p class="captio-slider-2">{{ values.caption[1] }}</p>
                  </div>
                  <ol class="carousel-indicators">
                    {% for value in data_banner %}
                      {% if value.numb == values.numb %}
                        <li class="dot-carousel" data-target="#myCarousel" style="background-color: #5f5b87!important"></li>
                      {% else %}
                        <li class="dot-carousel" data-target="#myCarousel"></li>
                      {% endif %}
                    {% endfor %}
                  </ol>
                </div>
            </div>
          {% endfor %}
        </section> -->

        <div class="slides">
            <ul class="ul_tools">
                {% for values in data_banner %}
                  <li>
                    <div>
                      <img src="{{ values.img }}" alt="" />
                      <div class="slider-caption">
                        <div>
                          <p class="captio-slider-1">{{ values.caption[0] }}</p>
                          <p class="captio-slider-2">{{ values.caption[1] }}</p>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
            </ul>
        </div>


        <!--====== Home Top slider End ======-->

        <!--====== Market Project area Start ======-->
        <section class="services-area section-padding padding-slider">
            <div class="container">

               <div class="row justify-content-center">
                   <div class="col-lg-8 text-center">
                       <div class="project-title">
                           <h2><span>Highlight</span> Product</h2>
                       </div>
                   </div>
               </div>

                <div class="row">

                  {% if data_hightlight | length == 3 %}
                  {% for values in data_hightlight %}
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="second-project-single-box img-hightlight shadow-all-card border-rad-5">
                      <a href="{{baseUrl}}/products"><img src="{{ values.gambar }}" alt="{{ values.nama }}"  ></a>
                      <!-- <div class="project-when-hover">
                        <a class="link-the-project link-black link-all-area" href="{{baseUrl}}/products">{{ values.nama }}</a>
                        <p></p>
                      </div> -->
                    </div>
                  </div>

                  <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="blog-single-box produk-heighlight-home">
                      <a href="{{baseUrl}}/products"><img class="max-height-produk-home" src="{{ values.gambar }}" alt="{{ values.nama }}"></a>
                      <div class="blog-content blog-content-highlight" style="font">
                        <h5><a class="" href="{{baseUrl}}/products">{{ values.nama }}</a></h5>
                      </div>
                    </div>
                  </div> -->

                  {% endfor %}
                  {% endif %}

                  <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="second-project-single-box">
                      <a href="#"><img src="{{baseUrl}}/public/assets/img/hightlight/product1.jpg" alt="project-photo"></a>
                      <div class="project-when-hover">
                        <a href="#" class="link-the-project">Strategic Option</a>
                        <p>Opportunity Costs</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="second-project-single-box">
                      <a href="#"><img src="{{baseUrl}}/public/assets/img/hightlight/product2.jpg" alt="project-photo"></a>
                      <div class="project-when-hover">
                        <a href="#" class="link-the-project">Strategic Option</a>
                        <p>Opportunity Costs</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="second-project-single-box">
                      <a href="#"><img src="{{baseUrl}}/public/assets/img/hightlight/product3.jpg" alt="project-photo"></a>
                      <div class="project-when-hover">
                        <a href="#" class="link-the-project">Strategic Option</a>
                        <p>Opportunity Costs</p>
                      </div>
                    </div>
                  </div> -->

                </div>
            </div>
        </section>
        <!--====== Market Project area End ======-->

        <!--====== Market Project area Start ======-->
        {% if data_news | length >= 2 %}
        <section class="market-project-area section-padding">
            <div class="container">
               <div class="row justify-content-center">
                   <div class="col-lg-8 text-center">
                       <div class="project-title">
                           <h2><span>News</span> & Event</h2>
                       </div>
                   </div>
               </div>

                <div class="row margin-top-30">
                  {% for values in data_news %}
                    <div class="col-lg-6 col-md-6">
                        <div class="project-single-box margin-news">
                           <div class="row">
                               <div class="col-lg-6">
                                   <div class="project-photo resize-news-home">
                                       <img class="resize-news-home" src="{{ values.img }}" alt="{{ values.title }}">
                                   </div>
                               </div>
                               <div class="col-lg-6">
                                   <div class="project-content">
                                        <h4><a href="{{ values.alias_unique }}">{{ values.title | slice(0, 30) }}..</a></h4>
                                        <p>{{ values.readmore | raw | slice(0, 90) }}</p>
                                        <a href="{{ values.alias_unique }}">Read More <i class="fa fa-caret-right"></i></a>
                                    </div>
                               </div>
                           </div>
                        </div><!-- project-single-box -->
                    </div><!-- col -->
                  {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
        <!--====== Market Project area End ======-->

        <!--====== Contact Area Stard ======-->
        <section class="contact-area section-padding">
            <div class="container">

               <div class="row justify-content-center">
                   <div class="col-lg-8 text-center">
                       <div class="project-title">
                           <h2><span>Contact </span>us</h2>
                           <p>
                             To be Market leader and integrated with slogan <br>
                             <strong><q cite="[object Object]">Safety Food For People's Life</q></strong>
                           </p>
                       </div>
                   </div>
               </div>

                <div class="row margin-top-30">
                    <div class="col-lg-6">
                        <div class="contact-info">
                            <!-- <h3>Contact Info</h3> -->
                            <p> <strong>{{ config.title }}</strong> {{ config.company_description }}</p>
                            <ul>
                                <li><i class="fa fa-map-marker" style="margin-right:10px"></i> {{ config.alamat }}</li>
                                <li><i class="fa fa-phone" style="margin-right:4px"></i> {{ config.no_telpon }} </li>
                                <li><i class="fa fa-fax"></i> {{ config.fax }} </li>
                                <li><i class="fa fa-envelope"></i> {{config.email}} </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="contact-form" style="margin-top:5px">
                        <form action="{{baseUrl}}/savedata.html" class="" id="form" method="POST">
                          <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">
                          <input type="email" id="email" name="email" class="form-control" placeholder="Your E-mail">
                          <textarea name="message" id="message" placeholder="Write your message" class="form-control" rows="5"></textarea>
                          <div data-callback="enableBtn" class="g-recaptcha" data-sitekey="6LdqIGEUAAAAAA5CTMMN_PNcf2ZbPYjdvpR1YiRd" style="margin-bottom: 10px"></div>
                          <div class="hideMe pop-contact" id="status"></div>
                          <button id="submitBtn" class="contact-btn">Submit</button>
                          <!-- <span id="captchaAlert" style="color: red"> *Selesaikan Captcha </span> -->
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </section>

        <!--====== Contact Area End ======-->
        <script>
        document.getElementById("submitBtn").disabled = true;
        document.getElementById("submitBtn").style.background = "gray";
        // document.getElementById("captchaAlert").style.display = "block";
        function enableBtn(){
          document.getElementById("submitBtn").disabled = false;
          document.getElementById("submitBtn").style.background = "";
          // document.getElementById("captchaAlert").style.display = "none";
        }
        var urlParams = new URLSearchParams(window.location.search);
        var status = (urlParams.get('status'));
        var feedback = "";
        if (status == 1) {
            feedback = "Pesan Telah Terkirim, Tim kami akan menghubungi anda dalam waktu 1x24 jam.";
        } else if (status == 2) {
            feedback = "Pesan tidak dapat dikirim, terjadi kesalahan pada server";
        } else if (status == 3) {
            feedback = "Harap lengkapi data diri anda";
        }
        document.getElementById("status").innerHTML = feedback;
        // alert(feedback);

        </script>
{% endblock %}
