{% extends "layout/main.html" %}
{% block content %}

<!--======Services Section Area Start ======-->
<!-- Hero Area Start -->
<!-- <section class="hero-area" style="background: url({{baseUrl}}/public/assets/img/company-logo-bg.jpg);background-size: cover;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="hero-info">
          <h2>{{ page_title }}</h2>
          <a href="{{baseUrl}}">Home <i class="fa fa-angle-right"></i></a><span>{{ page_title }}</span>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Hero Area End -->


<!-- Blog Area Start -->
<section class="blog-area section-padding">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="project-title">
          <h2><span>Our</span> News & Event</h2>
        </div>
      </div>
    </div>

    <div class="row">
      {% for values in list_artikel %}
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="blog-single-box">
          <div class="image-news">
            <a href="{{baseUrl}}/news/{{ values.alias_unique }}"><img src="{{ values.img }}"
                alt="{{ values.keyword }}"></a>
          </div>
          <!-- <a href="{{baseUrl}}/news/{{ values.alias_unique }}"><img src="{{ values.img }}" alt="{{ values.keyword }}"></a> -->
          <div class="blog-content">
            <h4 style="min-height: 56px;"><a class="link-article" href="{{baseUrl}}/news/{{ values.alias_unique }}">{{
                values.judul | slice(0,75) }}..</a></h4>
            <ul>
              <li><i class="fa fa-calendar"></i> {{ values.date }}</li>
              <li><i class="fa fa-list-ul"></i> {{values.kategori.nama}} </li>
            </ul>
            <p>{{ values.cuplikan | slice(0,165) | raw }}..</p>
            <div class="blog-bottom readmore-news text-center">
              <a href="{{baseUrl}}/news/{{ values.alias_unique }}" class="text-center readmore-news">Read More<i
                  class="fa fa-share"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center pt-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item {{pagination.disableprev}}">
              <a class="page-link" href="?page={{pagination.onpage-1}}" tabindex="-1">Previous</a>
            </li>
            {% for values in pagination.arr_age %}
            <li class="page-item {{values.status}}"><a class="page-link"
                href="?page={{values.numb}}">{{values.numb}}</a></li>
            {% endfor %}
            <li class="page-item {{pagination.disablenext}}">
              <a class="page-link" href="?page={{pagination.onpage+1}}">Next</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</section>
<!-- Blog Area End -->


<!--====== Services Section Area End ======-->
{% endblock %}