{% extends "layout/main.html" %}
{% block content %}

<!-- Blog Area Start -->
<section class="blog-area section-padding-detail">

  <div class="container">

    <div class="row">
      {% for value in artikel_detail %}
      <div class="col-md-12 col-sm-8 col-xs-12">
        <div class="blog-detail-single-box blog-detail-news">
          <div class="row">
            <div class="col-md-12">
              <div class="blog-content blog-content-detail border-ecoshrimp">
                <h2>{{ value.judul }}</h2>
                <ul>
                  <li><i class="fa fa-calendar"></i> {{ value.date }}</li>
                  <li><i class="fa fa-list-ul"></i> {{ value.kategori.nama }}</li>
                </ul>
                <hr class="hr-bot-title">

                {% if value.img %}
                <a href="#"><img src="{{ value.img }}" alt="asd"></a>
                {% endif %}

                <p>
                  {{ value.video | raw }}
                </p>
              </div>
              <div class="another-news">
                  <h3> Recent News </h3>
                  <hr>
              </div>
            </div>
          </div>

          <div class="row">
            {% for values in data_news %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="blog-single-box">
                <div class="image-news">
                  <a href="{{ values.alias_unique }}"><img class="recent-news-img resize-news-recent" src="{{ values.img }}" alt="{{ values.keyword }}"></a>
                </div>
                <div class="blog-content">
                  <ul>
                    <li><i class="fa fa-calendar"></i> {{ values.date }}</li>
                    <li><i class="fa fa-list-ul"></i> {{values.kategori.nama}} </li>
                  </ul>
                  <h4><a class="link-article" href="{{ values.alias_unique }}">{{ values.judul | slice(0,75) }}..</a></h4>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Blog Area End -->

{% endblock %}
