{% extends "layout/main.html" %}
{% block content %}

<!--======Services Section Area Start ======-->
<!-- Hero Area Start -->
<!-- <section class="hero-area" style="background: url({{baseUrl}}/public/assets/img/company-logo-bg.jpg);background-size: cover;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="hero-info">
          <h2>{{ page_title }}</h2>
          <a href="{{baseUrl}}">Home <i class="fa fa-angle-right"></i></a><span>{{ page_title }}</span>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Hero Area End -->


<!-- Second Product Area Start -->
<section class="second-project-area section-padding tambah-margin-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="project-title">
          <h2><span>Our</span> Products</h2>
        </div>
      </div>
    </div>

    <!-- <div class="row justify-content-center panel-find-product">
      <div class="col-sm-12 text-center">
        <div class="project-filter">
          <form class="form-inline form-find-tipe" id="form" method="GET">
              <select class="form-control"  id="tipeproduk" name="tipeproduk"  id="sel1">
                {% for values in selected %}
                <option style="background-color:#c1c1c1" value = "{{values.id}}" selected>{{values.nama}}</option>
                {% endfor %}
                <hr>
                <option value = "" >Show All Type</option>
                {% for values in list_tipeproduk %}
                <option value="{{values.id}}">{{values.nama}}</option>
                {% endfor %}
              </select>
              <button id="findTypeProductBtn" class="btn btn-success product-btn">Find</button>
          </form>
        </div>
      </div>
    </div> -->

    <div class="row justify-content-center panel-find-product">
      <div class="col-sm-12 text-center">
        <div class="project-filter">
          <form class="form-inline form-find-tipe" id="form" method="GET">
            <div class="field-btn-filter" >
              {% if 0 == filter %}
              <button id="tipeproduk" name="tipeproduk" class="btn btn-success product-btn-active" method="GET" value="0">All Product</button>
              {% else %}
              <button id="tipeproduk" name="tipeproduk" class="btn btn-success product-btn" method="GET" value="0">All Product</button>
              {% endif %}
              {% for values in list_tipeproduk %}
                {% if values.id == filter %}
                  <button id="tipeproduk" name="tipeproduk" class="btn btn-success product-btn-active" method="GET" value="{{values.id}}">{{values.nama}}</button>
                {% else %}
                  <button id="tipeproduk" name="tipeproduk" class="btn btn-success product-btn" method="GET" value="{{values.id}}">{{values.nama}}</button>
                {% endif %}
              {% endfor %}
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      {% for values in data_products %}
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="second-project-single-box">
          <a ><img class="hover-shadow" onclick="openModal();currentSlide({{ values.idx_view }})" src="{{ values.gambar }}" alt="{{ values.nama }}"></a>
        </div>
      </div>
      {% endfor %}
      <!-- The Modal/Lightbox -->
      <div id="myModal" class="modal">
        <span style="width:100%; height:100%; position:absolute; background-color:transparent" onclick="closeModal()"></span>
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
          {% for value in data_products %}
            <div class="mySlides">
              <img src="{{ value.gambar }}" style="width:100%">
            </div>
          {% endfor %}
          <!-- Next/previous controls -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="second-project-single-box">
          <a href="#"><img src="{{baseUrl}}/public/assets/img/bus-project2.jpg" alt="project-photo"></a>
          <div class="project-when-hover">
            <a href="#" class="link-the-project">Strategic Option</a>
            <p>Opportunity Costs</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="second-project-single-box">
          <a href="#"><img src="{{baseUrl}}/public/assets/img/bus-project3.jpg" alt="project-photo"></a>
          <div class="project-when-hover">
            <a href="#" class="link-the-project">Strategic Option</a>
            <p>Opportunity Costs</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="second-project-single-box">
          <a href="#"><img src="{{baseUrl}}/public/assets/img/bus-project4.jpg" alt="project-photo"></a>
          <div class="project-when-hover">
            <a href="#" class="link-the-project">Strategic Option</a>
            <p>Opportunity Costs</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="second-project-single-box">
          <a href="#"><img src="{{baseUrl}}/public/assets/img/bus-project2.jpg" alt="project-photo"></a>
          <div class="project-when-hover">
            <a href="#" class="link-the-project">Strategic Option</a>
            <p>Opportunity Costs</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="second-project-single-box">
          <a href="#"><img src="{{baseUrl}}/public/assets/img/bus-project1.jpg" alt="project-photo"></a>
          <div class="project-when-hover">
            <a href="#" class="link-the-project">Strategic Option</a>
            <p>Opportunity Costs</p>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>
<!-- Second Product Area End -->
<!--====== Services Section Area End ======-->

<script>
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

{% endblock %}
