{% extends "layout/main.html" %}
{% block content %}

<!--====== About Section Area Start ======-->
<div class="about-section-area">
  <!-- Hero Area Start -->
  <section class="hero-area banner-mobile-vision" style="background: url({{baseUrl}}/public/assets/img/vision-mission.jpg);background-size: cover;">
    <div class="container breadcrumb-position-info">
      <div class="row ">
        <div class="col-lg-8 text-left">
          <div class="hero-info">
            <h2>About Us</h2>
            <a href="{{baseUrl}}">Home <i class="fa fa-angle-right"></i></a><span>{{ page_title }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Area End -->

  <!-- About-us Area Start -->
  <!-- <section class="about-us-area section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <div class="about-content">
            <h5>About Us</h5>
            <h2>History of the Company</h2>
            <p style="text-align: justify;">
              <strong>PT. Alter Trader Indonesia (ATINA)</strong> is a Processor and Exporter of Frozen Shrimps and Seafood Products. Our Products come directly from the traditional shrimp farmers who have a commitment to have a sustainable and eco friendly aquaculture practices. Our access to quality material, experience our products processing, utilizing of rigid quality control standards can guarantree superior quality of the products. We are trying utmost with heart and soul to supply quality products and excellect service
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- About-us Area End -->

  <!--====== Mission Area Start ======-->
  <section class="mission-area section-padding">
      <div class="container">
          <!-- <div class="row">
              <div class="col-lg-6">
                  <div class="mission-content">
                    <h2>Our Mission</h2>
                    <p>
                      To be Market leader and integrated with slogan <br>
                      <strong><q cite="[object Object]">Safety Food For People's Life</q></strong>
                    </p>
                  </div>
              </div>
              <div class="col-lg-6">
                <div class="vision-content">
                  <h2>Our Vision</h2>
                  <ol class="rounded-list">
                    <li><a>Create the mutually benefitable relationship between all the stakeholder</a></li>
                    <li><a>Height quality standard for comodities proceduced</a></li>
                    <li><a>Realize the environmental friendly industry</a></li>
                    <li><a>Support small scales farmer for exist & having sustainable farming</a></li>
                  </ol>
                </div>
              </div>
          </div> -->

          {{ page_about.konten | raw }}
      </div>
  </section>
  <!--====== Mission Area End ======-->
</div>
<!--====== About Section Area End ======-->

{% endblock %}
