<!--====== Top to bottom Start ======-->
<!-- <div class="btn-set">
  <i class="fa fa-angle-double-up"></i>
</div> -->
<!--====== Top to bottom End ======-->


<!--====== Footer Area Start ======-->
<footer class="footer-area" style="padding-top: unset;">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h2><a href="{{baseUrl}}"><span>ATINA</span></a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ipsum voluptates id ducimus cupiditate modi consequatur. Ullam aliquam, pariatur quos ab reiciendis laudantium magni libero.</p>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h3>Quick Links</h3>
                    <ul class="footer-link">
                        <li><a href="#"><i class="fa fa-caret-right"></i>Strategic Consulting</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Sales Services</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Market Research</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Online Reputation</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Strategic Consulting</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Sales Services</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Market Research</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h3>Recent Posts</h3>
                    <div class="post-content">
                        <div class="post-img">
                            <img src="{{baseUrl}}/public/assets/img/footer-img1.jpg" alt="post-photo" width="70px" height="70px">
                        </div>
                        <div class="post-title">
                            <span>February 7, 2018</span>
                            <a href="#"><p>Advices for young designers</p></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-img">
                            <img src="{{baseUrl}}/public/assets/img/footer-img2.jpg" alt="post-photo" width="70px" height="70px">
                        </div>
                        <div class="post-title">
                            <span>February 7, 2018</span>
                            <a href="#"><p>Advices for young designers</p></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-img">
                            <img src="{{baseUrl}}/public/assets/img/footer-img3.jpg" alt="post-photo" width="70px" height="70px">
                        </div>
                        <div class="post-title">
                            <span>February 7, 2018</span>
                            <a href="#"><p>Advices for young designers</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h3>Newsletter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis tempore vero cupiditate ut quisquam consequatur nulla.</p>
                    <form action="http://formspree.com/isafiul770@gmail.com">
                        <input type="email" name="email" class="form-control" placeholder="Email address">
                        <input type="submit" name="submit" class="form-control">
                    </form>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-bottom">
                    <p class="text-center color-text-footer">copyright <i class="fa fa-copyright"></i>2018
                      <span><span>PT. Alter Trade Indonesia
                    </span>(ATINA)</span>
                     all rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--====== Footer Area End ======-->
