<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Meta-TAG SEO -->
    <meta name="author" content="PT. Alter Trade Indonesia">
    <meta name="publisher" content="PT. Alter Trade Indonesia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{{ seo_setting.description }}">
    <meta name="keywords" content="{{ seo_setting.keywords }}">
    <meta name="standout" content="{{ seo_setting.url }}"/>

    <meta name="google-site-verification" content="#" />

    <meta property="og:title" content="{{ seo_setting.title }}" />
    <meta property="og:description" content="{{ seo_setting.description }}">
    <meta property="og:site_name" content="{{ seo_setting.title }}">
    <meta property="og:locale" content="en_US, ">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ seo_setting.url }}" />
    <meta property="og:image" content="{{ seo_setting.og_img }}" />
    <meta property="og:image:type" content="image/jpg">
    <meta property="fb:app_id" content="556126781410569" />

    <title>{{ seo_setting.title }}</title>

    <link rel="canonical" href="{{ seo_setting.url }}" />
    <link rel="image_src" href="{{ seo_setting.og_img }}" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="alternate" href="{{ baseUrl }}" hreflang="en-us" />
    <!-- Meta-TAG SEO -->

    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!--font-family: 'Roboto', sans-serif;-->
    <!-- all css here -->
    <!-- <link rel="stylesheet" href="{{baseUrl}}/public/assets/css/animate.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{{baseUrl}}/public/assets/css/magnific-popup.css"> -->
    <link rel="stylesheet" href="{{baseUrl}}/public/assets/css/responsive.min.css">
    <link rel="stylesheet" href="{{baseUrl}}/public/assets/css/style.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CLC1FX3Y4H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CLC1FX3Y4H');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121566274-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121566274-1');
    </script> -->

</head>
<body oncontextmenu="return false;">

{% include 'layout/navbar.html' %}

<div>
{% block content %}{% endblock %}
{% include 'layout/footer.html' %}
</div>


<!-- all js here -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- Counter-Up -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script> -->
  <!-- <script src="{{baseUrl}}/public/assets/js/counterup.min.js"></script> -->
  <!-- <script src="{{baseUrl}}/public/assets/js/wow.min.js"></script> -->

  {% if page == 'contact' %}
  <!-- Google Maps  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gmap3/7.2.0/gmap3.min.js"></script>
  <script src="{{baseUrl}}/public/assets/js/gmap3-main.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-0FyxmLy4kQolrn8JAVI6K2n0AedUlJ0&amp;region=ID"></script>
  {% endif %}
  <script src="{{baseUrl}}/public/assets/js/main.min.js"></script>
  <script type="text/javascript">
  // $(document).ready(function(){
  //
  //   $(document).bind("contextmenu",function(e){
  //     return false;
  //   });
  //   $(document).bind('cut copy paste', function (e) {
  //       e.preventDefault();
  //   });
  //
  // });
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116549529-3"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-116549529-3');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <!-- Google Analytics -->
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-116549529-3', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- Google Analytics -->

<script>
  $('.custom1').owlCarousel({
     animateOut: 'slideOutDown',
     animateIn: 'flipInX',
     items:1,
     margin:30,
     stagePadding:30,
     smartSpeed:450
 });
 $('img').mousedown(function (e) {
    if(e.button == 2) { // right click
      return false; // do nothing!
    }
  });
 </script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script language="JavaScript">
  /**
    * Disable right-click of mouse, F12 key, and save key combinations on page
    * By Arthur Gareginyan (arthurgareginyan@gmail.com)
    * For full source code, visit http://www.mycyberuniverse.com
    */
  window.onload = function() {
    document.addEventListener("contextmenu", function(e){
      e.preventDefault();
    }, false);
    document.addEventListener("keydown", function(e) {
    //document.onkeydown = function(e) {
      // "I" key
      if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
        disabledEvent(e);
      }
      // "J" key
      if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
        disabledEvent(e);
      }
      // "S" key + macOS
      if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
        disabledEvent(e);
      }
      // "U" key
      if (e.ctrlKey && e.keyCode == 85) {
        disabledEvent(e);
      }
      // "F12" key
      if (event.keyCode == 123) {
        disabledEvent(e);
      }
    }, false);
    function disabledEvent(e){
      if (e.stopPropagation){
        e.stopPropagation();
      } else if (window.event){
        window.event.cancelBubble = true;
      }
      e.preventDefault();
      return false;
    }
  };
</script>
<!--End of Tawk.to Script-->

</body>
</html>
