<!--====== Header Area Start ======-->
<header class="header-area">
  <div class="top-bar" style="display: none;">
    <div class="container">
      <ul class="contact-details">
        <li class="slogan">Have any questions?</li>
        <li class="phone"><i class="fa fa-phone"></i><a href="tel:+123456789100">+62 31 8911230</a></li>
        <li class="mail"><i class="fa fa-envelope"></i><a href="mailto:info@atina.co.id">info@atina.co.id</a></li>
      </ul>
      <!-- <ul class="header-social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
      </ul> -->
    </div>
  </div>

  <div class="main-header">
    <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark main-nav nav-mobile shadow-all-card">
      <div class="container">
        <a class="navbar-brand" href="{{baseUrl}}">
          <span></span>
          <!-- (ATINA) -->
          <!-- <img class="logo-img" src="{{baseUrl}}/public/assets/img/logo-atina.svg" alt="logo-atina"> -->
          <img class="logo-img" src="{{baseUrl}}/img/logo-atina-3.png" alt="logo-atina">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav" style="margin-left:auto;margin-right:-12px;">

            {% if page == 'home' %}
            <li class="nav-item">
              <a class="nav-link active" href="{{baseUrl}}">Home</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{baseUrl}}">Home</a>
            </li>
            {% endif %}

            {% if page == 'about' %}
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
                <svg baseProfile="tiny" xmlns="https://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 6"><path fill="#5f5b87" d="M5 5.7L.4 1l.7-.7 3.9 4L8.9.4l.7.7"></path></svg>
              </a>
              <div class="dropdown-menu menu-submenu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{baseUrl}}/about/corporate-info">Corporate Information</a>
                <a class="dropdown-item" href="{{baseUrl}}/about/vision-and-mission">Vision and Mission</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
                <svg baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 6"><path fill="#26334a" d="M5 5.7L.4 1l.7-.7 3.9 4L8.9.4l.7.7"></path></svg>
              </a>
              <div class="dropdown-menu menu-submenu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{baseUrl}}/about/corporate-info">Corporate Information</a>
                <a class="dropdown-item" href="{{baseUrl}}/about/vision-and-mission">Vision and Mission</a>
              </div>
            </li>
            {% endif %}

            {% if page == 'products' %}
            <li class="nav-item">
              <a class="nav-link active" href="{{baseUrl}}/products">Product</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{baseUrl}}/products">Product</a>
            </li>
            {% endif %}

            {% if page == 'ecoshrimp' %}
            <li class="nav-item">
              <a class="nav-link active" href="{{baseUrl}}/ecoshrimp">Ecoshrimp</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{baseUrl}}/ecoshrimp">Ecoshrimp</a>
            </li>
            {% endif %}

            {% if page == 'news' %}
            <li class="nav-item">
              <a class="nav-link active" href="{{baseUrl}}/news">News & Event</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{baseUrl}}/news">News & Event</a>
            </li>
            {% endif %}

            {% if page == 'contact' %}
            <li class="nav-item">
              <a class="nav-link active" href="{{baseUrl}}/contact">Contact</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{baseUrl}}/contact">Contact</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
  </div>

  <button onclick="topFunction()" id="myBtn" title="Go to top" style="position:fixed"><i class="fa fa-arrow-up"></i></button>

</header>
<!--====== Header Area End ======-->
